@use "./base/variable" as *;


/// Funcion flex position
/// @group mediaqueries
/// @parameter {string} $direction [row] --string que indica la dirección
/// @parameter {string} $justify [center] --string que indica el tipo de justificado 
/// @parameter {string} $aling [center] --string que indica el tipo de alineado
/// @parameter {int} $gap [0] --entero que indica el espacio entre componentes
/// @example @include flex(row, space-around, center);
@mixin flex($direction: row, $justify: center, $align: center, $gap: 0){
    display: flex;
    flex-flow: $direction wrap;
    justify-content: $justify;
    align-items: $align;
    gap: $gap;
}

/// mapa para las media queries
/// @group mediaqueries
$sizes: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    x1: 1200px,
    xx1: 1400px
);

/// mixin para media queries
/// @group mediaqueries
/// @parameter {string} $breakpoint --valor de la media querie
/// @example @include responsive(x1){
///             grid-column: 6 / 10;
///          }
@mixin responsive($breakpoint){
    @if map-has-key($sizes , $breakpoint){
        @media(max-width: map-get($sizes, $breakpoint)) {
            @content;
        }
    }
}


/// Función encargada de dar tamaño y color a todos los titulos de la página
/// @group mediaqueries
@mixin titulos(){
    font-size: size(x1);
    color: color(quaternary);
    text-align: center;
}

/// Función dedicada a controlar el tamaño de imagenes, ancho de contenedor, color y tamaños
/// @group mediaqueries
@mixin proyecto(){
    @include flex(row, space-evenly);
    img{
        width: auto;
        height: 40rem;
        border-radius: 1rem;
    }
    .trabajos-contexto{
        height: auto;
        width: 60rem;
        &-titulo{
            @include titulos();
        }
        &-sub{
            font-size: size(lg);
            color: color(tertiary);
        }
    }
}

/// Función encargada del movimiento del carrusel, permite que las imágenes se muevan hacia la izquierda
/// @group mediaqueries
@mixin carrusel(){
    @keyframes scrolling {
        0% {
        transform: translateX(0);
        }
        100% {
        transform: translateX(-100%);
        }
    }
}

/// Función dedicada a los bloques de texto situados en el footer
/// @group mediaqueries
@mixin info(){
    h2{
        font-size: size(x1);
        color: color(quaternary);
        padding-bottom: 1rem;
    }
    ul{
        list-style-type:none
    }
    li{
        font-size: size(sm);
    }
}