@use "../base/variable" as *;
@use "../mixins.scss" as *;

.exposicion{
    grid-column: 1/-1;
    grid-row: 4/5;
    background-color: rgba($color: color(primary), $alpha: 0.3);
    .titulo{
        width: 100%;
        margin: auto 0;
        h2{
            @include titulos();
            font-size: size(x2);
            font-family: "Roboto Condensed", sans-serif;
        }
    }
    .carrusel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 118rem;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
    
    &-grupo{
        display: flex;
        gap: 1.25rem;
        padding-right: 1.25rem;
        will-change: transform; 
        animation: scrolling 10s linear infinite;
    }

    &-tarjeta{
        width: 100%;
        color: color(tertiary);
        background-color: rgba($color: color(secondary), $alpha: 0.3);
        border-radius: 1.5rem;
        padding: 1.25rem;
        font-size: size(x1);
        @include flex();
        min-height: 12.5rem;
        box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
        img{
            width: 44rem;
            height: auto;
        }
    }
    @include carrusel();
}
}
