@use "../base/variable" as *;
@use "../mixins" as *;

.titulo{
    grid-column: 1/-1;
    grid-row: 2/3;
    &-rotulo{
        text-align: center;
        font-size: size(xx1);
        font-family: "Roboto Condensed", sans-serif;
        letter-spacing: 0.4rem;
        color: color(tertiary);
        @include responsive(lg){
            font-size: size(x1);
        }
        @include responsive(md){
            font-size: size(lg);
        }
    }
}