@use "./variable" as *;
@use "../mixins.scss" as *;
*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    @include responsive(md) {
        font-size: 56.25%;
    }
    @include responsive(sm) {
        font-size: 50%;
    }
}
body{
    background-image:url("../images/Fondoruido.png");
}
.container{
    display:grid;
    grid-template-columns: 1fr repeat(8, minmax(min-content,16rem)) 1fr;
    grid-template-rows: repeat(4, min-content);
}